* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

/* Common- triển khai những cái chung */
.content {
    width: 117rem;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    font-family: "Poppins";
    min-width: 118px;
    line-height: 5rem;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    border-radius: 999px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Header */

.header {
    padding-top: 36px;
    padding-bottom: 8px;
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .logo {
    color: #171100;
    font-family: var(--font-heading);
}

.header .logo span {
    color: var(--primary-color);
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar a {
    position: relative;
    padding: 10px 21px;
    color: #5f5b53;
    font-family: Sen;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-bar a:hover,
.nav-bar .active {
    color: #171100;
    cursor: pointer;
    text-shadow: 1px 0 0 currentColor;
}

.nav-bar .active::after {
    content: "";
    display: block;
    bottom: 6px;
    left: 22.5px;
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
}

.header .btn {
    margin-left: 49px;
    min-width: 144px;
}

/* Hero */
.hero-wrap {
    height: calc(100vh + 30px);
    background-color: #fffcf4;
}

.hero {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}

.hero .images {
    position: relative;
    width: 48%;
}

.hero .img-main {
    object-fit: cover;
    width: 47rem;
    height: 68.5rem;
    border-radius: 2rem;
    /* do tinh chat cua inline thua vai` px de hien thi chu co chan */
    vertical-align: bottom;
}

.hero .card {
    bottom: 50px;
    left: 300px;
    position: absolute;
    width: 27rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .item {
    margin: 24px 0 24px 24px;
    display: flex;
    gap: 16px;
}

.hero .card p {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 0;
}

.hero .card span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .info {
    width: 52%;
    max-width: 49rem;
    padding-top: 58px;
    padding-left: 20px;
}

.hero .title {
    margin-bottom: 22px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 6.8rem; /* 117.241% */
    letter-spacing: -0.116rem;
}

.hero .sub-title {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero .button-wrap {
    margin-bottom: 48px;
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.button-wrap .btn {
    background: #ffb900;
    width: 18rem;
    line-height: 6.2rem;
    font-size: 1.8rem;
    border: none;
}

.button-wrap .btn:hover {
    cursor: pointer;
}

.button-wrap .icon-play {
    border: none;
    margin: 0 14px 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.button-wrap .desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.info .stats {
    display: flex;
    margin-top: 21px;
    gap: 28px;
}

.stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 600;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .title {
    margin-bottom: 16px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.076rem;
}

.popular .sub-title {
    max-width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.controls {
    display: flex;
    gap: 18px;
}

.controls .active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
}

.controls .active:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

/*phần các thẻ*/
.popular .list-card {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .card {
    flex: 1;
    margin: -1px;
    border-radius: 12px;
    background-color: #fff;
}

.popular .card:hover {
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.card .img_card {
    border-radius: 12px 12px 0 0;
    width: 100%;
    min-height: 278px;
    object-fit: cover;
}

.title-card h2,
.card .img_card:hover {
    cursor: pointer;
}

.card .infor {
    margin: 16px 22px 22px;
}

.card .bottom,
.card .star,
.card .title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-card h2 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 6px;
}

.star .star-img {
    margin-right: 6px;
}

.star .number {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

.card .desc {
    margin-top: 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #5f5b53;
    margin-bottom: 5px;
}

.bottom .price {
    font-size: 18px;
    font-weight: 600;
}

.bottom .btn {
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.bottom .btn:hover {
    background-color: var(--primary-color);
}

/* FEEDBACK */
.feedback {
    background-color: #2e2100;
    margin-top: 136px;
}

.feedback-items {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor .img-feedback {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.infor .name {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #f7f7f7;
}

.infor .member {
    margin-top: 4px;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}

.infor .dots {
    display: flex;
    margin-top: 28px;
}

.infor .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
}

.dot.active {
    background: #ffb900;
}

.feedback-items .content-feedback {
    width: 66%;
}

.feedback-items .content-feedback blockquote {
    margin-left: 30px;
    font-size: 26px;
    font-style: italic;
    line-height: 40px;
    color: #ffffff;
}

/* FEATURES */
.features {
    margin-top: 200px;
}

.features .feature-top {
    display: flex;
    justify-content: space-evenly;
}

.feature-top .img-features {
    display: flex;
    min-width: 60%;
}

.img-features .img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.img-features .img-feature-1 {
    margin: 34px 30px 0 0;
}

.feature-top .info {
    width: 40%;
}

.info .title {
    margin-top: 58px;
    font-family: var(--font-heading);
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
}

.info .desc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}

.info .btn {
    margin-top: 32px;
    border: none;
    width: 137px;
    height: 50px;
    top: 2855px;
}

.info .btn:hover {
    background-color: var(--primary-color);
}
